#
# -- WeeChat theme --
# $name: Woodland
#

# 0 231e18 - 16
# 1 302b25 - 52
# 2 48413a - 59
# 3 9d8b70 - 137
# 4 b4a490 - 144
# 5 cabcb1 - 181
# 6 d7c8bc - 187
# 7 e4d4c8 - 188
# 8 d35c5c - 167
# 9 ca7f32 - 173
#
# A e0ac16 - 178
# B b7ba53 - 143
# C 6eb958 - 71
# D 88a4d3 - 110
# E bb90e2 - 140
# F b49368 - 137


irc.color.input_nick = "lightcyan"
irc.color.item_channel_modes = "default"
irc.color.item_lag_counting = "default"
irc.color.item_lag_finished = "yellow"
irc.color.item_nick_modes = "default"
irc.color.message_chghost = "brown"
irc.color.message_join = "green"
irc.color.message_kick = "red"
irc.color.message_quit = "red"
irc.color.mirc_remap = "1,-1:darkgray"
irc.color.nick_prefixes = "y:lightred;q:lightred;a:lightcyan;o:lightgreen;h:lightmagenta;v:yellow;*:lightblue"
irc.color.notice = "green"
irc.color.reason_kick = "default"
irc.color.reason_quit = "default"
irc.color.topic_current = "default"
irc.color.topic_new = "white"
irc.color.topic_old = "default"
logger.color.backlog_end = "default"
logger.color.backlog_line = "default"
relay.color.client = "cyan"
relay.color.status_active = "lightblue"
relay.color.status_auth_failed = "lightred"
relay.color.status_connecting = "yellow"
relay.color.status_disconnected = "lightred"
relay.color.status_waiting_auth = "brown"
relay.color.text = "default"
relay.color.text_bg = "default"
relay.color.text_selected = "white"
spell.color.misspelled = "23"
spell.color.suggestion = "default"
spell.color.suggestion_delimiter_dict = "cyan"
spell.color.suggestion_delimiter_word = "cyan"
weechat.bar.input.color_bg = "default"
weechat.bar.input.color_delim = "cyan"
weechat.bar.input.color_fg = "default"
weechat.bar.nicklist.color_bg = "default"
weechat.bar.nicklist.color_delim = "cyan"
weechat.bar.nicklist.color_fg = "default"
weechat.bar.status.color_bg = "default"
weechat.bar.status.color_delim = "137"
weechat.bar.status.color_fg = "143"
weechat.bar.title.color_bg = "default"
weechat.bar.title.color_delim = "cyan"
weechat.bar.title.color_fg = "*188"
weechat.color.bar_more = "lightmagenta"
weechat.color.chat = "187"
weechat.color.chat_bg = "default"
weechat.color.chat_buffer = "white"
weechat.color.chat_channel = "*default"
weechat.color.chat_day_change = "cyan"
weechat.color.chat_delimiters = "green"
weechat.color.chat_highlight = "yellow"
weechat.color.chat_highlight_bg = "magenta"
weechat.color.chat_host = "cyan"
weechat.color.chat_inactive_buffer = "default"
weechat.color.chat_inactive_window = "default"
weechat.color.chat_nick = "lightcyan"
weechat.color.chat_nick_colors = "167,173,178,143,71,110"
weechat.color.chat_nick_offline = "default"
weechat.color.chat_nick_offline_highlight = "default"
weechat.color.chat_nick_offline_highlight_bg = "blue"
weechat.color.chat_nick_other = "cyan"
weechat.color.chat_nick_prefix = "green"
weechat.color.chat_nick_self = "*default"
weechat.color.chat_nick_suffix = "green"
weechat.color.chat_prefix_action = "white"
weechat.color.chat_prefix_buffer = "brown"
weechat.color.chat_prefix_buffer_inactive_buffer = "default"
weechat.color.chat_prefix_error = "yellow"
weechat.color.chat_prefix_join = "lightgreen"
weechat.color.chat_prefix_more = "lightmagenta"
weechat.color.chat_prefix_network = "magenta"
weechat.color.chat_prefix_quit = "lightred"
weechat.color.chat_prefix_suffix = "52"
weechat.color.chat_read_marker = "magenta"
weechat.color.chat_read_marker_bg = "default"
weechat.color.chat_server = "brown"
weechat.color.chat_tags = "red"
weechat.color.chat_text_found = "yellow"
weechat.color.chat_text_found_bg = "lightmagenta"
weechat.color.chat_time = "default"
weechat.color.chat_time_delimiters = "brown"
weechat.color.chat_value = "cyan"
weechat.color.chat_value_null = "blue"
weechat.color.emphasized = "yellow"
weechat.color.emphasized_bg = "magenta"
weechat.color.input_actions = "lightgreen"
weechat.color.input_text_not_found = "red"
weechat.color.item_away = "yellow"
weechat.color.nicklist_away = "cyan"
weechat.color.nicklist_group = "green"
weechat.color.separator = "144"
weechat.color.status_count_highlight = "magenta"
weechat.color.status_count_msg = "140"
weechat.color.status_count_other = "default"
weechat.color.status_count_private = "green"
weechat.color.status_data_highlight = "lightmagenta"
weechat.color.status_data_msg = "71"
weechat.color.status_data_other = "default"
weechat.color.status_data_private = "lightgreen"
weechat.color.status_filter = "green"
weechat.color.status_more = "yellow"
weechat.color.status_mouse = "green"
weechat.color.status_name = "167"
weechat.color.status_name_ssl = "167"
weechat.color.status_nicklist_count = "default"
weechat.color.status_number = "173"
weechat.color.status_time = "187"
weechat.look.buffer_time_format = "${253}%H${245}%M"
weechat.look.color_inactive_buffer = "on"
weechat.look.color_inactive_message = "on"
weechat.look.color_inactive_prefix = "on"
weechat.look.color_inactive_prefix_buffer = "on"
weechat.look.color_inactive_time = "off"
weechat.look.color_inactive_window = "on"
weechat.look.color_nick_offline = "off"
weechat.look.nick_color_force = ""
weechat.look.nick_color_hash = "djb2"
weechat.look.nick_color_hash_salt = ""
weechat.look.nick_color_stop_chars = "_|["
xfer.color.status_aborted = "lightred"
xfer.color.status_active = "lightblue"
xfer.color.status_connecting = "yellow"
xfer.color.status_done = "lightgreen"
xfer.color.status_failed = "lightred"
xfer.color.status_waiting = "lightcyan"
xfer.color.text = "default"
xfer.color.text_bg = "default"
xfer.color.text_selected = "white"

buflist.format.hotlist_message = "${color:167}"
buflist.format.hotlist_none = "${color:default}"
